.bold{
  font-weight: bold;
}
.number{
  font-family: 'JetBrainsMonoDiary' !important;
}
.text-green{color: $gradient-aqua;}
.text-orange{color: $gradient-pumpkin;}
.text-black{color: #000;}
.text-gray{color: $gray;}


.text-left{text-align: left !important;}
.text-right{text-align: right !important;}
.text-center{text-align: center !important;}


.float-left   {float: left !important;}
.float-right  {float: right !important;}
.hidden {display: none !important;}
.show   {display: block !important;}


