$bank-card-padding: 30px;
$bank-card-gap: 20px;

.bank-card-container{
  overflow-y: auto;
  background-color: $bg-menu;
}
.bank-card-list{
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: $bank-card-padding;
}

$card-bgs: (
      "green" : (#24b73d, #33c891),   // 农业
      "red"   : (#ff264c, #ff7442),   // 工商
      "blue"  : (#0073ce, #2e92ff),   // 建行
      "white" : (#abab97, #dadada),   // 招商
);

@each $name, $colors in $card-bgs {
  .bank-bg-#{$name}{
    background: linear-gradient(-15deg,$colors);
  }
}

.bank-card{
  border-top: 1px solid transparentize(white, 0.6);
  border-left: 1px solid transparentize(white, 0.6);
  padding-bottom: 30px;
  overflow: hidden;
  @include border-radius($radius-pc);
  width: 430px;
  color: $text-title;
  @include box-shadow(1px 2px 3px transparentize(black, 0.8));
  position: relative;
  background-color: transparentize(white, 0.4);
  margin-bottom: $bank-card-gap;
  margin-right: $bank-card-gap;
  &:hover{
    .card-no{

    }
  }
  .card-no{
    padding: 20px 20px 3px 20px;
    font-family: 'ImpactDiary';
    letter-spacing: 1px;
    font-size: $fz-big;
    color: white;
    text-shadow: 1px 0 2px transparentize(black, 0.3);
    @extend .btn-like;
    @include transition(all 0.4s)
  }
  .card-name{
    font-size: $fz-list-content;
    color: white;
    text-shadow: 1px 0 2px transparentize(black, 0.5);
    @extend .btn-like;
  }
  .card-type{
    font-size: $fz-list-content;
    color: white;
    text-shadow: 1px 1px 0 transparentize(black, 0.7);
  }
  .card-index{
    font-family: Monaco;
    font-size: 10px;
    position: absolute;
    top: 8px;
    right: 10px;
    color: white;
    opacity: 0.5;
  }

  .card-note{
    font-size: 12px;
    text-shadow: -1px -1px 1px transparentize(white, 0.5),
                  1px 1px 0 transparentize(black, 0.7);
  }

  .copy-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    img{
      display: block;
      width: 30px;
    }
  }
}

.card-main-info{
  padding: 0 20px;
  font-size: $fz-title;
  display: flex;
  justify-content: space-between;
}

.card-detail-list{
  border-top: 1px solid transparentize(white, 0.8);
  overflow-y: auto;
  //height: 120px;
  margin-top: 20px;
  padding: 10px 60px;
  display: flex;

  justify-content: flex-start;
  flex-flow: column nowrap;
  font-size: $fz-list-content;
  background-color: transparentize(white, 0.5);
}

.card-detail-list-item{
  padding: 2px 0;
  display: flex;
  justify-content: space-between;
  color: $text-content;
  .label{
    width: 5rem;
  }
  .value{
    padding-left: 20px;
    flex-grow: 1;
    text-align: right;
  }
}

.bank-tip{
  background-color: $bg-menu;
  padding: 30px;
  color: $color-main;
}
.bank-card-example{
  padding: 20px 0;
  text-align: left;
}


// mobile
@media (max-width: $grid-separate-width-sm) {
  .bank-card-list{
    padding: 20px;
    flex-flow: column nowrap;
  }
  .bank-card{
    width: 100%;
    margin-right: 0;
    .card-no {
      font-size: 26px;
    }
  }
}
