.bill-content{
  width: 100%;
  overflow: auto;
  padding: 30px;
  background-color: $bg-light;
}

.bill-container{
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: flex-start;
}
.bill{
  flex-shrink: 0;
  overflow: hidden;
  background-color: white;
  margin-right: 20px;
  padding-bottom: 25px;
  @include border-radius($radius-pc);
  border: 2px solid $color-border;
  font-family: 'JetBrainsMonoDiary';
  .bill-header{
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    padding: 20px;
    .title{
      line-height: 1.3;
      letter-spacing: 1px;
      font-size: $fz-huge;
      font-weight: bold;
    }
  }

  .bill-brief{
    border-top: 1px solid $color-border;
    padding: 15px 40px 20px;
    font-size: $fz-list-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .sum{
      position: relative;
      margin-top: 5px;
      padding-top: 5px;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100px;
        height: 1px;
        display: block;
        background-color: $color-border;
      }
    }
    .brief-amount{
      letter-spacing: 1px;
      align-items: flex-end;
      flex-flow: column nowrap;
      display: flex;
      justify-content: space-between;
    }
    .brief-food{
      text-align: right;
      flex-flow: row nowrap;
      justify-content: center;
    }
  }


  table{
    font-size: $fz-small;
    tr{
      &:nth-child(even){
        background-color: $bg-lighter;
      }
      th{
        border-top: 1px solid $color-border-light;
        border-bottom: 1px solid $color-border-light;
        text-align: right;
        font-weight: bold;
        padding: 8px 15px 8px;
        &.center{
          text-align: center;
        }
      }
      td{
        white-space: nowrap;
        min-width: 80px;
        border-bottom: none;
        text-align: right;
        padding: 3px 15px;
        &.center{
          text-align: center;
        }
      }
      td.label{
        color: $text-label;
        white-space: nowrap;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left
      }
      &:last-child{
        td,th{
          border-bottom: 0;
        }
      }
      &:hover{
        td{
          background-color: $bg-menu;
          border-bottom-color: $bg-menu;
          color: white;
        }
      }
      &:nth-child(even){
        //background-color: transparentize(black, 0.95);
      }
    }
  }
  @include transition(all 0.5s);

  &:hover{
    @include transition(all 0.5s);
    //@include box-shadow(2px 2px 5px transparentize(black, 0.8))
  }
}

.bill-detail-list{
  font-size: $fz-list-content;
  td{
    padding: 2px 0 2px 5px;
    &.price{
      text-align: right;
    }
  }
}

@media (max-width: $grid-separate-width-sm) {
  .bill-content{
    padding: 10px;
  }
  .bill-container{
    flex-flow: column nowrap;
  }

  .bill{
    margin-bottom: 20px;
    width: 100%;
    .bill-header{
      padding: 15px 10px 10px;
      .title{
        font-size: $fz-big;
      }
    }
    .bill-brief{
      line-height: 1.2;
      font-size: $fz-small;
      padding: 5px 50px;
    }
    table {
      width: 100%;
      tr{
        td{
          min-width: 50px;
          width: 50px !important;
          padding: 2px 5px 2px ;
          &.label{
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
  .bill-detail-list{
    font-size: $fz-small;
  }
}




