$height-meta: 30px;
.diary-detail{
  background-color: white;
}
.diary-meta{
  background-color: $bg-light;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  .weather{
    padding: 3px;
    img{
      height: $height-meta - 3*2;
      display: block;
    }
  }
  .temperature{
    font-size: $fz-note;
    color: $text-date;
    line-height: $height-meta;
  }
  .date{
    line-height: $height-meta;
    color: $bg-main;
  }
}

.diary-title{
  position: relative;
  margin: 0 20px;
  padding: 20px 0;
  h2{
    font-weight: normal;
    font-size: 1.1rem;
    word-break: break-all;
  }
  .clipboard{
    position: absolute;
    top: 20px;
    right: 10px;
  }
}

.diary-content{
  white-space: pre-wrap;
  border-top: 1px solid $color-border;
  position: relative;
  color: $bg-main;
  line-height: 1.6;
  font-size: 1rem;
  margin: 0 20px;
  padding: 20px 0;
  p{
    font-family: "Consolas", "Monaco", sans-serif;
    margin-bottom: 5px;
    line-height: 1.5;
    word-break: break-all;
  }
  .clipboard{
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.clipboard{
  padding: 3px;
  @include border-radius($radius-pc);
  &:hover{
    background-color: $bg-list-active;
  }
  img{
    display: block;
    width: 20px;
  }
  @extend .btn-like;
}

.detail-category{
  font-size: .8rem;
  text-align: center;
  margin: 3px 0;
  padding: 2px 10px;
  color: white;
  @include border-radius(5px)
}

@each $name, $color in $categories {
  .detail-category-#{$name}{
    border: 1px solid $color;
    background-color: $color;
  }
}

@media (min-width: $grid-separate-width-md){
  .diary-detail{
    padding: 40px 10%;
    margin: 0 auto;
  }
  .diary-meta{
    margin: 0 0 30px;
    padding: 10px 0;
    @include border-radius($radius-pc);
    justify-content: space-around;
  }
  .diary-title{
  }
  .diary-content{
    p{
      //text-indent: 2rem;
    }
  }
}


.temperature-number{
  //font-weight: bold;
}
//.temperature-35{color: $magenta}
//.temperature-35-28{color: $red}
//.temperature-28-22{color: $green}
//.temperature-22-15{color: saturate($cyan, 30%)}
//.temperature-15-4{color: $blue}
//.temperature-4{color: $purple}
