@font-face {
  font-family: "ImpactDiary";
  src: url(~@/assets/fonts/ImpactPureNumber.ttf);
}

@font-face {
  font-family: "JetBrainsMonoDiary";
  src: url(~@/assets/fonts/JetBrainsMono-Regular.ttf);
}
