// Register
.body-login-bg{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $bg-main;
}
.body-login{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 60px 25px;
  .logo{
    padding: 30px 0;
    img{
      height: 150px;
      display: block;
      margin: 0 auto;
    }
  }
  .input-group{
    margin-bottom: 15px;
    label{
      display: block;
      line-height: 200%;
      font-size: $fz-note;
      color: $bg-light;
    }
    input{
      background-color: $bg-menu;
      width: 100%;
      @include border-radius();
      display: block;
      line-height: 1.5;
      padding: 8px 15px;
      font-size: $fz-title;
      color: white;
      font-weight: bold;
      transition: all .5s;
      &:focus{
        background-color: $bg-menu;
        transition: all .5s;
        @include box-shadow(0 0 0 2px $color-main);
      }
    }
  }
  .footer{
    padding: 20px 0 0;
    display: flex;
    justify-content: space-between;
    > * {
      cursor: pointer;
      font-size: $fz-note;
      color: $text-label;
      &:hover,&:active{
        color: white;
      }
    }
    &.flex-start{
      justify-content: flex-start;
    }
    &.flex-end{
      justify-content: flex-end;
    }
  }
}

.btn{
  border: 1px solid transparent;
  padding: 8px 15px;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: bold;
  font-size: $fz-title;
  cursor: pointer;
  @include border-radius();
  &:active{
    transform: translateY(2px);
  }
  @extend .btn-like;
}

.btn-active{
  color: $bg-main;
  background-color: $color-main;
  &:hover{
    background-color: darken($color-main, 5%);
  }
}

.btn-light{
  border-color: $color-border-light;
  color: $color-main;
  background-color: white;
  &:hover{
    background-color: darken(white, 1%);
  }
}

.btn-inactive{
  color: $gray;
  border: 1px solid transparentize(white, 0.8);
  background-color: transparent;
  &:hover{
    border: 1px solid transparentize(black, 0.8);
    background-color: transparentize(black, 0.9);
  }
}


// PC
@media (min-width: $grid-separate-width-big) {
  .body-login-bg{
    align-items: center;
  }
  .body-login{
    padding-bottom: 80px; // 使居中时登录面板往上一点
    width: $menu-panel-big;
    margin-left: auto;
    margin-right: auto;
    .logo {
      padding: 0 0 30px;
    }
  }
}

// PC & IPAD
@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .body-login-bg{
    align-items: center;
  }
  .body-login{
    padding-bottom: 80px;
    padding-top: 0;
    width: $menu-panel-sm;
    margin-left: auto;
    margin-right: auto;
    .logo {
      padding: 0 0 30px;
    }
  }
}
