// MENU
$menu-category-list-item-height: 40px;

.menu-panel{
  z-index: 10;
  overflow: auto;
  position: fixed;
  top: $height-navbar;
  left: 0;
  width: 100%;
  background-color: $bg-menu;
}

.menu{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.menu-list{
  display: block;
  list-style-type: none;
  padding: 20px 20px;
}

.menu-btn {
  flex-shrink: 0;
  position: relative;
  display: block;
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
  line-height: $menu-category-list-item-height;
  border: 1px solid $color-main;
  background-color: $color-main;
  @include border-radius(5px);
  @extend .btn-like;
}


.user-info-panel{
  padding: 30px 60px 50px;
}
.user-info{
  padding: 10px 20px;
  @include border-radius($radius-pc);
  display: flex;
  background-color: transparentize(white, 0.9);
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-size: 13px;
  white-space: nowrap;
  color: $text-about-subtitle;
  .user{
    width: 50%;
    flex-grow: 1;
    padding: 5px 5% 5px 0;
    .username{
    }
    .email{
      min-font-size: 10px;
    }
    .logout {
      color: $color-main;
      opacity: 0.7;
      @extend .btn-like;
      &:hover {
        opacity: 1;
      }
    }
  }
  .statistics{
    width: 40%;
    padding: 5px 0 5px 5%;
    border-left: 1px solid transparentize(white, 0.9);;
  }
}

// MENU CATEGORY
.menu-category {
  padding: 20px;
}

.menu-category-list{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: row wrap;
}
.menu-category-item {
  @extend .btn-like;
  @extend .unselectable;
  flex-shrink: 0;
  position: relative;
  display: block;
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
  line-height: $menu-category-list-item-height;
  @include border-radius(5px);
  border: 1px dashed $gray;
  &.menu-category-shared{
    background-color: transparent;
    &.active{
      background-color: white;
      color: $text-title;
      border: 1px solid white;
    }
  }
  .count{
    color: white;
    display: block;
    position: absolute;
    top: 5px;
    right: 7px;
    font-size: 10px;
    line-height: 1;
  }
}

.category-operations-container{
  padding-top: 20px;
  border-top: 1px solid $bg-main;
}


// PC
@media (min-width: $grid-separate-width-big) {
  .menu-panel {
    width: $menu-panel-big;
  }
  .menu-category {
    padding: 30px;
    .menu-category-item {
      width: 40%;
    }
  }
}

// PC & IPAD
@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .menu-panel{
    width: $menu-panel-sm;
  }
  .user-info-panel{
    padding: 30px 50px;
  }
  .menu-category {
    padding: 30px;
    .menu-category-item {
      width: 40%;
    }
  }
}

@media (max-width: $grid-separate-width-md) {
  .user-info-panel{
    padding: 30px 50px 50px;
  }
}
