.navbar-container{
  z-index: $z-navbar;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar{
  padding: 0 5px 0 0;
  background-color: $bg-main;

  .navbar-btn-group{
    display: flex;
  }
  .brand{
    cursor: pointer;
    margin: 0 auto;
    height: $height-navbar;
    width: 80px;
    img{
      padding: 3px;
      margin: 0 auto;
      display: block;
      height: $height-navbar;
    }
  }
  .btn-text-group{
    display: flex;
    flex-flow: row nowrap;
    height: $height-navbar;
    align-items: center;
  }
  .btn-text{
    margin-right: 10px;
    font-size: $fz-small;
    padding: 4px 8px;
    color: white;
    @extend .btn-like;
    @include border-radius($radius-mobile);
    &.active{
      background-color: white;
      color: $text-title;
      &:hover{
        background-color: white;
        color: $text-title;
      }
    }
    &:hover{
      background-color: transparentize(white, 0.85);
    }
  }
}
