.page-header{
  z-index: $z-header;
  position: sticky;
  top: 0;
  height: $height-navbar;
  background-color: $bg-main;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  .page-title{
    flex-grow: 1;
    font-size: $fz-title;
    font-weight: bold;
    text-align: left;
  }
  .page-back-btn{
  }
}
