.statistic-container{
  width: 100%;
  background-color: white;
  box-sizing: border-box;
}

.statistic-content{
  overflow-y: auto;
  overflow-x: hidden;
}

.statistic-diary{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.statistic-user{
}


@media (min-width: $grid-separate-width-max)  {
  .statistic-content{
    padding: 20px;
  }
}

@media (min-width: $grid-separate-width-big) and (max-width: $grid-separate-width-max) {
  .statistic-content{
    padding: 20px;
  }
}

@media (min-width: $grid-separate-width-md) and (max-width: $grid-separate-width-big) {
  .statistic-content{
    padding: 20px;
  }
}

@media (min-width: $grid-separate-width-sm) and (max-width: $grid-separate-width-md) {
  .statistic-content{
    padding: 30px;
  }
}

@media (max-width: $grid-separate-width-sm) {
  .statistic-content{
    padding: 10px;
    .statistic-diary, .statistic-user{
      flex-flow: column nowrap;
    }
    .statistic-info, .statistic-charts{
      width: 100%;
      flex-flow: column nowrap;
    }
  }
}


